body{
    padding: 0;
    border: 0;
    margin: 0;    
    font-family: 'Open Sans', sans-serif;
}

.navbar-nav .nav-item .nav-link{        
    color: #FFFFFF;    
}

.navbar{
    background-color: transparent !important;
}

.nav-img{
    height: 2.5rem;
}