/*deshabilita el scroll por defecto*/
html{
    scroll-behavior: auto !important;
}

/*google fonts*/
body{
    padding: 0;
    border: 0;
    margin: 0;    
    font-family: 'Open Sans', sans-serif;
}

/*barra de navegacion*/
.nav-img{
    height: 2.5rem;
}

/*tooltips*/
.tooltip-inner{
    background-color: var(--bs-info);
}

.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--bs-info);
}


